{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "blog/includes/forms.css" %}">
</head>
<body>
    <section class="login_section">
        
        <div class="login">
            <div class="form">
                <form action="{% url "login" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value={{request.path}}>
                    {% for field in form  %}
                        <div class="form-field">
                            <h4>{{field.label_tag}}</h4>
                            {{field}}
                            <p>{{field.errors}}</p>
                        </div>
                    {% endfor %} 
                    <button class="btn" type="submit">Wyślij</button>
                </form>
            </div>
            
        </div>
    </section>
</body>
</html>
