

{% extends "base.html" %}
{% load static %}

{% block title %}Rejestracja{% endblock  %}

{% block style %}
    <link rel="stylesheet" href="{% static "/blog/registration.css" %}">
{% endblock  %}

{% block content %}
    <section class="registration-section">
        
            <h1>Zarejestruj się</h1>
            {% if message %}
                <p>{{message}}</p>
            {% endif %}
            <div class="form">
                <form method ="POST">
                    {% csrf_token %}
                   <div class="field">
                        <h4>{{form.username.label_tag}}</h4>
                        {{form.username}}
                        {{form.username.errors}}
                   </div>
                    <div class="field">
                        <h4>{{form.email.label_tag}}</h4>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div class="field">
                        <h4>{{form.password1.label_tag}}</h4>
                        {{form.password1}}
                        {{form.password1.errors}}
                    </div>
                    <div class="field">
                        <h4>{{form.password2.label_tag}}</h4>
                        {{form.password2}}
                        {{form.password2.errors}}
                    </div>
                    <button>Zapisz</button>
            </form>
        </div>
        
    </section>

{% endblock  %}