:root {
    --primary-color: #EAE1B8;
    --secondary-color: #C5AF7B;
    --buttons-color: #9C7D4F;
    --text-color: #342B21;
    --second-text-color: #6C5032;
    --box-shadow: 0px 0px 38px -5px rgba(66, 68, 90, 1);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    color: var(--text-color);
}

body {

    background-color: var(--second-text-color);
}

.account-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 0;
    right: 0;
    height: 3rem;
    z-index: 1;
    background-color: #342b21bc;
}

.account-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;

}

header .baner {
    min-height: 250px;
    background-image: url(images/header_banner.webp);
    background-size: cover;
    background-position: 85% 50%;
    background-repeat: no-repeat;
}

header .main-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--text-color);
    color: var(--primary-color);

}

.account-el {
    display: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: .25rem;
}

.main-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: white;
    transition: width .3s;
}

.main-nav a:hover::after {
    width: 100%;
}

.main-nav a.account-el::after {
    width: 100%;
}

.main-nav a.account-el:hover::after {
    width: 0;
}


/* Formularze na stronie */
.form {
    width: 90%;
    margin: 1rem auto 2rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 25px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

label {
    font-size: .9rem;
}



input,
textarea {

    padding: .4rem;
}

input:focus-visible,
textarea:focus-visible {
    outline: var(--text-color);
}

.errorlist li {
    list-style: none;
    font-size: .7rem;
    color: #c50101;
}

button {
    display: inline-block;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    transition: .4s ease;
}

button:hover {
    color: white;
    background-color: var(--text-color);
}

@media (min-width:1438px) {

    .form {
        width: 60%;
        margin: 1rem 2rem
    }

}

/*  */

@media (min-width:400px) {
    html {
        font-size: 20px;
    }
}



@media (min-width:700px) {
    header .baner {
        min-height: 300px;
    }

    .account-nav {
        display: none;
    }

    .account-el {
        display: inline;
    }

}